@tailwind base;
@tailwind components;
@tailwind utilities;

.text-primary {
  color: #f9c20c;
}
.border-primary {
  border-color: #f9c20c;
}
.moulpali-regular {
  font-family: "Moulpali", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.moulpali-medium {
  font-family: "Moulpali", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.moulpali-bold {
  font-family: "Moulpali", sans-serif;
  font-weight: 800;
  font-style: normal;
}


.imperial-script-regular {
  font-family: "Imperial Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.imperial-script-medium  {
  font-family: "Imperial Script", cursive;
  font-weight: 600;
  font-style: normal;
}


.imperial-script-bold  {
  font-family: "Imperial Script", cursive;
  font-weight: 800;
  font-style: normal;
}


.metal-regular {
  font-family: "Metal", serif;
  font-weight: 400;
  font-style: normal;
}


.metal-medium {
  font-family: "Metal", serif;
  font-weight: 600;
  font-style: normal;
}

.caramel-regular {
  font-family: "Caramel", cursive;
  font-weight: 400;
  font-style: normal;
}



.moul-regular {
  font-family: "Moul", serif;
  font-weight: 400;
  font-style: normal;
}

.moul-light {
  font-family: "Moul", serif;
  font-weight: 200;
  font-style: normal;
}

.kantumruy-regular {
  font-family: "Kantumruy Pro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.fleur-de-leah-regular {
  font-family: "Fleur De Leah", cursive;
  font-weight: 400;
  font-style: normal;
}

.open-button {
  /* font-family: "Kantumruy Pro", sans-serif; */
  
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  background-color: #C6B48E;
  color: #FEFAF3;
  padding: 0.5em 1.5em;
  font-size: 1.2rem;
  border-radius: 2rem;
}


.dm-serif-text-regular {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-text-regular-italic {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: italic;
}

.tangerine-regular {
  font-family: "Tangerine", cursive;
  font-weight: 400;
  font-style: normal;
}

.tangerine-bold {
  font-family: "Tangerine", cursive;
  font-weight: 700;
  font-style: normal;
}





